.title {
    color: white;

}




  
.button1 {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: white;
    text-align:center;
    transition: all 0.2s;
    
    }
.button1:hover{
    color:white;
    background-color:darkorchid;
    }
    @media all and (max-width:30em){


        .button1{
    display:block;
    margin:0.4em auto;
     }
    }  
    .button2 {
        display:inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #FFFFFF;
        margin:0 0.3em 0.3em 0;
        border-radius:0.12em;
        width: 100px;
        height: 30px;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        font-weight:300;
        color: white;
        text-align:center;
        transition: all 0.2s;
        
        }
    .button2:hover{
        color:white;
        background-color:darkorchid;
        }
        @media all and (max-width:30em){
    .button2{
        display:block;
        margin:0.4em auto;
         };
        }  
  
        .button3 {
            display:inline-block;
            padding:0.35em 1.2em;
            border:0.1em solid #FFFFFF;
            margin:0 0.3em 0.3em 0;
            border-radius:0.12em;
            width: 100px;
            height: 30px;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color: white;
            text-align:center;
            transition: all 0.2s;
            
            }
        .button3:hover{
            color:white;
            background-color:darkorchid;
            }
            @media all and (max-width:30em){
        .button3{
            display:block;
            margin:0.4em auto;
             };
            }  
        .button4 {
            display:inline-block;
            padding:0.35em 1.2em;
            border:0.1em solid #FFFFFF;
            margin:0 0.3em 0.3em 0;
            border-radius:0.12em;
            width: 100px;
            height: 30px;
            box-sizing: border-box;
            text-decoration:none;
            font-family:'Roboto',sans-serif;
            font-weight:300;
            color: white;
            text-align:center;
            transition: all 0.2s;
    
        }
        .button4:hover{
            color:white;
            background-color:darkorchid;
        }
             @media all and (max-width:30em){


        .button4{
            display:block;
            margin:0.4em auto;
        }
        }  

        
            .imageAnimation { 

                position: absolute;
                left: 200%;
               
                -webkit-animation: moveToLeft 10s linear infinite;
                animation: moveToLeft 10s linear infinite;
            }
            
            @-webkit-keyframes moveToLeft {
                from {left: 100%;}
                to {left: 0%;}
            }
            
            @keyframes moveToLeft {
                from {left: 100%;}
                to {left: -50%;}
            }